* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../assets/images/slider\ background.jpg);
}

.slider {
    /* background-image: url(../assets/images/slider\ background.jpg); */
    margin-top: 180px;
    margin-bottom:50px;
}

.carousel-item img{
    height: 480px;
    margin: 1%;
    object-fit: contain;
}

/* Products slider */
.card-modified {
    width: 18rem; 
    height: 30rem;
}

.container-image{
    height: 10em;
}
/* End products slider */

/* Donde nos ubicamos*/
.points-of-sale{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}

/* Footer */
.footer-class{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: black; */
    margin-top: 100px;
}

.footer-class a{
    text-decoration: none;
    color: white;
}

.footer-class a:hover{
    color: red;
}

.footer-class p{
    display: flex;
    align-items: center;
    margin: 0;
}

.section-footer{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    color: white;
}

.section-footer .bi{
    margin: 0px 10px;
    font-size: 28px;
}

.container-logo-footer{
    padding: 15px;
}

.logo-footer{
    box-shadow: 10px 10px 50px red;
    border-radius: 100px;
    height: 100%;
    width: 80%;
}

.logo-footer:hover{
    box-shadow: 10px 10px 70px red;;
}

.container-contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.contact-section{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.contact-data{
    display: flex;
    margin: 4px 0;
}

.container-developers-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.developer-section{
    display: flex;
    width: 70%;
    margin: 4px 0;
}

.developer-section p {
    font-size: 20px;
}

@media(width <= 1220px){
    .footer-class{
        flex-direction: column;
        align-items: center;
    }

    .section-footer{
        margin: 20px 0;
        width: 100%;
    }

    .logo-footer{
        height: 40%;
        width: 40%;    
    }

    .contact-section{
        justify-content: center;
        width: 50%;
    }

    .developer-section{
        width: 50%;
    }
    
}

@media(width <= 510px){
    .developer-section{
        width: 90%;
    }

    .contact-section{
        width: 90%;
    }
}
/* End Footer */

/* ----Navbar----- */

.img-logo {
    width: 100px;
    border-radius: 30px;
}

.btn-nav-color {
    background-color: #F42820;
    color: aliceblue;
}

.nav-span {
    color: #F42820;   
}

/* ----Navbar----- */

/* Shopping Cart */

.modified-container{
    padding: 10px;
    width: 30vw;
}

.modified-list{
    max-height: 20rem;
    overflow-y: scroll;
}

.items{
    width: 25%;
    text-align: center;
}

.cursor{
    cursor: pointer;
}
/* End Shopping Cart */

/* form*/

.title-contact {
    color: #F42820;
    font-weight: 600;
    background-color: rgb(3, 3, 3);
    margin-top: 1000px;
    margin-bottom:800px;
  }
  
  .container-contact {
    background-color: rgb(3, 3, 3);
  }
  
  .container-contact form input,
    textarea {
      resize: none;
      border: 0.1rem solid rgb(155, 155, 155);
      border-radius: .5rem;
  }
  
  .container-contact form input:hover {
      box-shadow: 0 0 5px 1px #F42820;
  }
  
  .container-contact form textarea:hover {
      box-shadow: 0 0 5px 1px #F42820;
  }
  
  .container-contact form .btn-send {
      background-color: #F42820;
      color: white;
      border: none;
      border-radius: .5rem;
  }
  
  .container-contact form .btn-send:hover {
      box-shadow: none;
  }
  
  @media screen and (min-width: 320px) {
    .title-contact {
      margin: 0rem;
    }
    
    .container-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
    }
  
    .container-contact form {
      display: flex;
      flex-direction: column;
    }
  
    .container-contact form input,
    textarea {
      padding: 0.8rem;
      margin: 0.5rem 0rem;
    }
  }
  
  @media screen and (min-width: 768px) {
      .container-contact form {
          width: 80%;
      }
  }
  
  @media screen and (min-width: 1024px) {
      .container-contact form {
          width: 60%;
      }
  }
  
  /* form*/